<div>

  <div class="container-about row align-items-center">

    <div class="col-sm">
      <div id="text-footer">
        <br>
        <img class="small-medium rounded responsive" src="../../../../assets/images/ellos-logo-color.png" alt="Ellos: mobilidade para eventos e festivais">
        <br>
        <img class="small-medium responsive" src="../../../../assets/images/ellos-name-black.png" alt="Ellos">
        <br>
        <br>
        <p class="montserrat blue font-medium-size">
          MOBILIDADE PARA EVENTOS E FESTIVAIS
        </p>
        <p class="didatic font-medium-size">
          O Ellos é uma Startup que visa entregar mobilidade de forma personalizada para eventos e festivais.
        </p>
        <p class="didatic font-medium-size">
          Em eventos de grande porte com médias distâncias, é notável a necessidade de um meio de locomoção temporário para que os
          clientes possam aproveitar melhor a experiência que a empresa está provendo com toda a estrutura.
        </p>
        <p class="didatic font-medium-size">
          O Ellos vem para preencher esta lacuna e aumentar o valor do evento adicionando a mobilidade de uma forma que faz sentido
          e realça a marca da empresa. Podem ser bicicletas, skates, veículos coletivos entre outros. Para nós, a nossa missão
          é deixar as pessoas mais felizes e com condições de se locomover de uma forma totalmente personalizada que agrega
          valor e potencializa a experiência do evento ou festival.
        </p>
        <p class="didatic font-medium-size">
          Para nós, a nossa missão é deixar as pessoas mais felizes e com condições de se locomover de uma forma totalmente personalizada
          que agrega valor e potencializa a experiência do evento ou festival.
        </p>
      </div>

    </div>
  </div>