<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
  <!--div class="navbar-brand" routerLink="/home" routerLinkActive="active">
    <img id="ellos-name" class="small responsive" src="../../../../assets/images/ellos-name.png" alt="">
  </div-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bicicletas" routerLinkActive="active">Bicicletas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/postos" routerLinkActive="active">Postos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre" routerLinkActive="active">Sobre</a>
      </li>
    </ul>
  </div>
</nav>