<div>

    <div class="container-home">
        <div class="centered">
            <img id="ellos-logo" class="medium-img rounded responsive" src="../../../../assets/images/ellos-logo-color.png" alt="">
            <br>
            <img id="ellos-name" class="responsive" src="../../../../assets/images/ellos-name.png" alt="">
            <br>
            <br>
            <p class="montserrat white font-medium-size">
                ADICIONANDO MOBILIDADE PARA EVENTOS E FESTIVAIS
            </p>
            <p class="didatic white font-medium-size">
                Vem se mover junto com a gente.
            </p>
        </div>
        <img id="bg-watermelon" src="../../../../assets/images/watermelon.jpg" />
        <img id="bg-watermelon-device" src="../../../../assets/images/watermelon-device.jpg" />
    </div>

    <div class="container-next-event">
        <p class="didatic font-medium-size">
            Próxima parada:
        </p>
        <p class="sawarabi blue font-medium-size">
            Santa Rita do Sapucaí, o vale do Silício Brasileiro.
        </p>
        <p class="didatic font-medium-size">
            Compartilhando bicicletas e histórias de moradores da cidade durante um mega evento de inovação. Uma pacata cidade cheia
            de potencial e coisas incríveis. Venha descobrir mais sobre os ciclistas durante o HackTown 2018.
        </p>
        <div class="row justify-content-center">
            <div class="col-sm-auto">
                <img id="img-hack" class="rounded responsive" src="../../../../assets/images/hacktown-logo.png">
            </div>
            <div class="col-auto">
                <p id="hack-description" class="didatic font-small-size dark-grey">
                    Mais de 300 palestras, showcases e workshops rolando simultâneamente em um polo de inovação totalmente improvável. Dias 6,
                    7, 8 e 9 de setembro de 2018.
                </p>
            </div>
        </div>

    </div>

    <div class="container-how-it-works">
        <p class="sawarabi white font-title-size">
            Como funciona?
        </p>
        <ul>
            <li class="didatic font-small-size white">O primeiro passo é você liberar sua pulseira durante o cadastramento.
                Estaremos logo ao lado do cadastro para te receber, e autorizar você a ser um <strong>BETA TESTER</strong>
                de toda essa experiência única com a gente!</li>
            <li class="didatic font-small-size white">Após a liberação, você está livre para escolher qual bike vai querer,
                ou melhor, qual história.</li>
            <li class="didatic font-small-size white">Basta se dirigir ao posto, que a equipe Ellos estará pronta para lhe
                receber e realizar o aluguel pela própria pulseira do evento.</li>
        </ul>
    </div>

    <div class="container-more">
        <div class="row justify-content-center">
            <p class="montserrat blue font-title-size">
                Quer saber mais?
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="card">
                    <img class="card-img-top" src="../../../../assets/images/station.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title sawarabi">Postos</h5>
                        <p class="card-text">Descubra onde as bikes estão esperando por você na cidade.</p>
                        <a href="#" class="btn btn-primary" routerLink="/postos">Encontre Postos</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card">
                    <img class="card-img-top" src="../../../../assets/images/history.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title sawarabi">Histórias</h5>
                        <p class="card-text">Quer saber mais sobre a história da sua bicicleta?</p>
                        <a href="#" class="btn btn-primary" routerLink="/bicicletas">Encontre Histórias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>