<div class="container-fluid">
  <div id="sponsors" class="row justify-content-center navbar navbar-expand-lg navbar-dark">
    <div id="text-footer">
      <p class="montserrat">PATROCINADORES</p>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm">
            <img class="sponsor-size responsive" src="../../../../assets/images/sponsors-and-partners/s-inatel.png" alt="">
          </div>
          <div class="col-sm">
            <img class="sponsor-size rounded responsive" src="../../../../assets/images/sponsors-and-partners/s-extreme.png" alt="">
          </div>
          <div class="col-sm">
            <img class="sponsor-size rounded responsive" src="../../../../assets/images/sponsors-and-partners/s-natural-prime.png" alt="">
          </div>
        </div>
      </div>

      <hr>

      <p class="montserrat">APOIADORES</p>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm">
            <img class="sponsor-size responsive" src="../../../../assets/images/sponsors-and-partners/p-meu-cantinho.png" alt="">
          </div>
          <div class="col-sm">
            <img class="sponsor-size rounded responsive" src="../../../../assets/images/sponsors-and-partners/p-trenzinho.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="navbar" class="row justify-content-center navbar navbar-expand-lg navbar-dark">
    <div id="text-footer">
      <img class="small-medium rounded responsive" src="../../../../assets/images/ellos-logo-color.png" alt="">
      <br>
      <img class="small-medium responsive" src="../../../../assets/images/ellos-name.png" alt="">
      <br>
      <br> Copyright &copy; 2018 | falecomellos@gmail.com
    </div>
  </div>

  <div id="social-media" class="row justify-content-end ">
    <div class="col-auto">
      <a href="https://www.instagram.com/ellos.bike/"><img class="small rounded responsive" src="../../../../assets/images/instagram.png" alt=""></a>
      
    </div>
    <div class="col-auto"><a href="https://www.facebook.com/ellos.bike/"><img class="small rounded responsive" src="../../../../assets/images/facebook.png" alt=""></a>
    </div>
  </div>
</div>