.container-detail {
    padding: 16px;
    width: 100%;
    text-align: center;
}

.font-title-size {
    font-size: 25px;
}

.didatic {
    font-family: 'Didact Gothic', sans-serif;
}

.sawarabi {
    font-family: 'Sawarabi Mincho', sans-serif;
}